NUMBER = '+12345678900'
API_KEY = 'textbelt' # Limited to one SMS per day. If you want more you need to add your own API key
DOMAINS = ['www.mydomain.com', 'cloud.mydomain.com', 'myseconddomain.com', 'anotherdomain.com']
